{% load static %}
<nav class="navbar">
    <div class="navbar-left">
        <button class="add-tab">+ Add</button>
    </div>
    <div class="navbar-center">
        <input type="text" class="search-bar" placeholder="Buscar...">
        <div id="search-results" class="search-results" style="display:none;">
            <ul id="results-list"></ul>
        </div>
    </div>
    <div class="navbar-right">
        <button class="notifications">
            <span class="icon">🔔</span><span class="badge">3</span>
        </button>
        <div class="user-profile">
            <img src="{% static 'tickets/profile-pic.png' %}" alt="Perfil" class="profile-picture">
            <span class="username">{{ request.user.name|default:'Usuario' }}</span>
        </div>
    </div>
</nav>
